Data Analysis & Cleaning Decision Notebook
This notebook will analyze both Supplier 1 and Supplier 2 data to determine necessary cleaning steps before merging them into a common inventory dataset.

In [2]:
import pandas as pd
import numpy as np

# Load datasets
supplier1_path = 'supplier_data_1.xlsx'
supplier2_path = 'supplier_data_2.xlsx'

df1 = pd.read_excel(supplier1_path)
df2 = pd.read_excel(supplier2_path)

# Display the first few rows
df1.head(), df2.head()

(  Werksg√ºte Bestellg√ºtentext  Nenndicke NNN.NN mm mit Dezimalpunkt   Breite  \
 0     G2UB5          SZBS800                                   320    856.0
 1     G2UJ5          SZBS800                                   339    918.0
 2     C3318        LICRO 500                                   452  1,839.0
 3     C3U15    S380MC mod. 4                                   532  1,160.0
 4     G3UB5          SZBE800                                   451    727.2

    L√§nge  Gewicht (kg)    Cluster Si-Gehalt Mn-Gehalt P-Gehalt  ... Mo-Gehalt  \
 0  787.0        16.490       WB-G       NaN       NaN      NaN  ...       NaN
 1  707.0        17.160       WB-G       NaN       NaN      NaN  ...       NaN
 2  300.0        18.700       WB-U    0.2540    1.2780   0.0080  ...    0.0090
 3  461.0        22.011       WB-U    0.2250    1.0630   0.0100  ...    0.0060
 4  557.0        14.020  Spaltband       NaN       NaN      NaN  ...       NaN

   V-Gehalt Cu-Gehalt Nb-Gehalt  Ti-Gehalt  Al-Gehalt  B-Gehalt  Streckgrenze  \
 0      NaN       NaN       NaN        NaN        NaN       NaN           NaN
 1      NaN       NaN       NaN        NaN        NaN       NaN           NaN
 2     20.0     290.0      12.0      320.0      320.0      25.0           0.0
 3     30.0     150.0     320.0      989.0      430.0       1.0           0.0
 4      NaN       NaN       NaN        NaN        NaN       NaN           NaN

    Zugfestigkeit  Dehnung
 0            NaN      NaN
 1            NaN      NaN
 2            0.0      0.0
 3            0.0      0.0
 4            NaN      NaN

 [5 rows x 23 columns],
   PRODUCT_TYPE  ORDER_ID            SITE MATERIAL_NAME  MATERIAL_NUMBER  \
 0        SHEET    436765  1 company gmbh        S235JR           1.0038
 1        SHEET    436754  1 company gmbh        S355MC           1.0976
 2        SHEET    436755  1 company gmbh           NaN           1.0976
 3        SHEET    436757  1 company gmbh        S355MC           1.0976
 4        SHEET    436758  1 company gmbh        S355MC           1.0976

   MATERIAL_QUALITY_NORM  SURFACE_COATING            DEFECT_NOTES  \
 0          DIN EN 10025              NaN  DEKL-S235JR  / D2A EID
 1          DIN EN 10149              NaN                     NaN
 2          DIN EN 10149              NaN  DEKL-S355MC  / D2A WEH
 3                   NaN              NaN  DEKL-S355MC  / D2A WEH
 4           DN EN 10149              NaN  DEKL-S355MC  / D2A WEH

    NOMINAL_THICKNESS_MM  WIDTH_MM  ...  HEIGHT_MM  MASS_MIN_KG  \
 0                11.859      1509  ...        NaN         2091
 1                 8.057      1011  ...        NaN         2411
 2                 8.057      1010  ...        NaN         2251
 3                 8.057      1011  ...        NaN         2401
 4                 8.057      1010  ...        NaN         2401

    NUMBER_OF_COILS  DELIVERY_EARLIEST  DELIVERY_LATEST  INCO_TERM  \
 0              NaN                NaN              NaN        FCA
 1              NaN                NaN              NaN        FCA
 2              NaN                NaN              NaN        FKA
 3              NaN                NaN              NaN        FCA
 4              NaN                NaN              NaN        FCA

   BUY_NOW_EUR_PER_TON  MIN/MAX_BID_EUR_PER_TON  CO2_PER_TON_MAX_KG  \
 0               600.0                      NaN                 NaN
 1               600.0                      NaN                 NaN
 2               600.0                      NaN                 NaN
 3               600.0                      NaN                 NaN
 4               600.0                      NaN                 NaN

         VALID_UNTIL
 0  20/02/2025 11:00
 1  20/02/2025 11:00
 2  2025-02-20 11:00
 3  2025-02-20 11:00
 4  2025-02-20 11:00

 [5 rows x 21 columns])

1. Checking Missing Values
Identifying columns with missing values to determine necessary imputation or handling.

In [3]:
print('\nüîç Checking Missing Values in Supplier 1 Data:')
display(df1.isnull().sum())

print('\nüîç Checking Missing Values in Supplier 2 Data:')
display(df2.isnull().sum())

üîç Checking Missing Values in Supplier 1 Data:

Werksg√ºte                               20
Bestellg√ºtentext                        16
Nenndicke NNN.NN mm mit Dezimalpunkt     0
Breite                                   0
L√§nge                                    0
Gewicht (kg)                             0
Cluster                                 12
Si-Gehalt                               31
Mn-Gehalt                               31
P-Gehalt                                31
S-Gehalt                                38
Cr-Gehalt                               31
Ni-Gehalt                               39
Mo-Gehalt                               38
V-Gehalt                                38
Cu-Gehalt                               38
Nb-Gehalt                               38
Ti-Gehalt                               38
Al-Gehalt                               38
B-Gehalt                                38
Streckgrenze                            38
Zugfestigkeit                           38
Dehnung                                 38
dtype: int64

üîç Checking Missing Values in Supplier 2 Data:

PRODUCT_TYPE                18
ORDER_ID                     0
SITE                         0
MATERIAL_NAME               20
MATERIAL_NUMBER             45
MATERIAL_QUALITY_NORM       17
SURFACE_COATING            136
DEFECT_NOTES                20
NOMINAL_THICKNESS_MM         0
WIDTH_MM                     0
LENGTH_MM                   81
HEIGHT_MM                  136
MASS_MIN_KG                  0
NUMBER_OF_COILS            136
DELIVERY_EARLIEST          136
DELIVERY_LATEST            136
INCO_TERM                   28
BUY_NOW_EUR_PER_TON         97
MIN/MAX_BID_EUR_PER_TON     11
CO2_PER_TON_MAX_KG         136
VALID_UNTIL                  0
dtype: int64

2. Checking Data Types¬∂
Ensure that numeric columns are correctly typed and that categorical variables are properly formatted.

In [4]:
print('\nüîç Checking Data Types for Supplier 1 Data:')
display(df1.dtypes)

print('\nüîç Checking Data Types for Supplier 2 Data:')
display(df2.dtypes)

üîç Checking Data Types for Supplier 1 Data:

Werksg√ºte                                object
Bestellg√ºtentext                         object
Nenndicke NNN.NN mm mit Dezimalpunkt      int64
Breite                                   object
L√§nge                                   float64
Gewicht (kg)                            float64
Cluster                                  object
Si-Gehalt                                object
Mn-Gehalt                                object
P-Gehalt                                 object
S-Gehalt                                 object
Cr-Gehalt                                object
Ni-Gehalt                                object
Mo-Gehalt                                object
V-Gehalt                                float64
Cu-Gehalt                               float64
Nb-Gehalt                               float64
Ti-Gehalt                               float64
Al-Gehalt                               float64
B-Gehalt                                float64
Streckgrenze                            float64
Zugfestigkeit                           float64
Dehnung                                 float64
dtype: object

üîç Checking Data Types for Supplier 2 Data:

PRODUCT_TYPE                object
ORDER_ID                     int64
SITE                        object
MATERIAL_NAME               object
MATERIAL_NUMBER            float64
MATERIAL_QUALITY_NORM       object
SURFACE_COATING            float64
DEFECT_NOTES                object
NOMINAL_THICKNESS_MM       float64
WIDTH_MM                     int64
LENGTH_MM                  float64
HEIGHT_MM                  float64
MASS_MIN_KG                  int64
NUMBER_OF_COILS            float64
DELIVERY_EARLIEST          float64
DELIVERY_LATEST            float64
INCO_TERM                   object
BUY_NOW_EUR_PER_TON        float64
MIN/MAX_BID_EUR_PER_TON    float64
CO2_PER_TON_MAX_KG         float64
VALID_UNTIL                 object
dtype: object

3. Identifying Formatting Issues
Find numeric columns stored as strings and ensure uniformity.

In [5]:
print('\nüîç Checking for Numeric Columns Stored as Strings in Supplier 1:')
for col in df1.columns:
    if df1[col].dtype == 'object':
        try:
            df1[col].astype(float)
            print(f'‚ö†Ô∏è Column {col} contains numeric values stored as strings.')
        except ValueError:
            pass

print('\n Checking for Numeric Columns Stored as Strings in Supplier 2:')
for col in df2.columns:
    if df2[col].dtype == 'object':
        try:
            df2[col].astype(float)
            print(f'‚ö†Ô∏è Column {col} contains numeric values stored as strings.')
        except ValueError:
            pass

üîç Checking for Numeric Columns Stored as Strings in Supplier 1:

 Checking for Numeric Columns Stored as Strings in Supplier 2:

4. Checking for Duplicates
Duplicate rows should be removed before merging.

In [6]:
print('\nüîç Checking for Duplicate Rows in Supplier 1 Data:')
display(df1.duplicated().sum())

print('\nüîç Checking for Duplicate Rows in Supplier 2 Data:')
display(df2.duplicated().sum())

üîç Checking for Duplicate Rows in Supplier 1 Data:

np.int64(3)

üîç Checking for Duplicate Rows in Supplier 2 Data:

np.int64(4)

5. Detecting Outliers in Numeric Columns
Checking for extreme values that might need handling.

In [7]:
print('\nüîç Descriptive Statistics for Supplier 1 Numeric Data:')
display(df1.describe())

print('\nüîç Descriptive Statistics for Supplier 2 Numeric Data:')
display(df2.describe())

üîç Descriptive Statistics for Supplier 1 Numeric Data:

,Nenndicke NNN.NN mm mit Dezimalpunkt,L√§nge,Gewicht (kg),V-Gehalt,Cu-Gehalt,Nb-Gehalt,Ti-Gehalt,Al-Gehalt,B-Gehalt,Streckgrenze,Zugfestigkeit,Dehnung
count,86.000000,86.000000,86.000000,48.000000,48.000000,48.000000,48.000000,48.000000,48.000000,48.000000,48.000000,48.000000
mean,371.011628,604.076558,21.215837,165.916667,311.937500,166.125000,382.729167,522.083333,96.437500,327.682750,162.916375,69.416667
std,156.222277,268.103303,6.148270,283.230666,275.931722,177.230542,380.304119,198.997042,191.832252,545.942139,274.606625,135.346338
min,184.000000,1.007000,5.550000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,254.500000,429.500000,17.947500,20.000000,110.000000,14.000000,24.750000,377.500000,0.000000,0.000000,0.000000,0.000000
50%,334.000000,672.500000,22.070000,30.000000,190.000000,110.000000,285.000000,540.000000,2.000000,0.000000,0.000000,0.000000
75%,452.000000,784.500000,25.175000,52.500000,402.500000,320.000000,665.000000,640.000000,2.250000,703.250000,442.500000,12.500000
max,885.000000,995.000000,31.840000,1160.000000,850.000000,471.000000,1165.000000,870.000000,680.000000,1420.000000,918.000000,500.000000

üîç Descriptive Statistics for Supplier 2 Numeric Data:

,ORDER_ID,MATERIAL_NUMBER,SURFACE_COATING,NOMINAL_THICKNESS_MM,WIDTH_MM,LENGTH_MM,HEIGHT_MM,MASS_MIN_KG,NUMBER_OF_COILS,DELIVERY_EARLIEST,DELIVERY_LATEST,BUY_NOW_EUR_PER_TON,MIN/MAX_BID_EUR_PER_TON,CO2_PER_TON_MAX_KG
count,136.000000,91.000000,0.0,136.000000,136.000000,55.000000,0.0,136.000000,0.0,0.0,0.0,39.000000,125.000000,0.0
mean,436447.602941,1.059996,NaN,3.622728,1302.830882,2674.290909,NaN,4349.507353,NaN,NaN,NaN,618.461538,548.720000,NaN
std,214.598204,0.042435,NaN,3.886831,253.536689,416.771794,NaN,4303.138128,NaN,NaN,NaN,20.201415,46.263202,NaN
min,436125.000000,1.003800,NaN,0.640000,812.000000,1974.000000,NaN,721.000000,NaN,NaN,NaN,600.000000,490.000000,NaN
25%,436278.750000,1.004500,NaN,0.712750,1132.250000,2356.000000,NaN,2155.250000,NaN,NaN,NaN,600.000000,520.000000,NaN
50%,436524.500000,1.087300,NaN,1.700000,1385.000000,2760.000000,NaN,2810.500000,NaN,NaN,NaN,600.000000,550.000000,NaN
75%,436622.250000,1.097600,NaN,7.046500,1503.000000,3008.000000,NaN,3553.500000,NaN,NaN,NaN,640.000000,610.000000,NaN
max,436766.000000,1.119100,NaN,12.029000,1676.000000,3802.000000,NaN,23111.000000,NaN,NaN,NaN,640.000000,620.000000,NaN

Cleaning Steps

Supplier 1

In [8]:
import pandas as pd
import numpy as np
import re
from task1_column_mapping import COLUMN_MAPPING_SUPPLIER_1, NUMERIC_COLUMNS_SUPPLIER_1

# Load Supplier 1 dataset
df1 = pd.read_excel("supplier_data_1.xlsx")

# -------------------------------------
# Standardizing Column Names
# -------------------------------------
df1.rename(columns=COLUMN_MAPPING_SUPPLIER_1, inplace=True)

# Ensure all expected columns exist
for col in COLUMN_MAPPING_SUPPLIER_1.values():
    if col not in df1.columns:
        df1[col] = pd.NA  # Assign empty values for missing columns

# Keep only expected columns
df1 = df1[list(COLUMN_MAPPING_SUPPLIER_1.values())]

# -------------------------------------
# Handling Missing Values
# -------------------------------------
# Fill missing categorical values with "Unknown"
cat_cols = ["grade", "finish", "cluster"]
df1[cat_cols] = df1[cat_cols].fillna("Unknown")

# Fill missing numeric values with 0
df1[NUMERIC_COLUMNS_SUPPLIER_1] = df1[NUMERIC_COLUMNS_SUPPLIER_1].fillna(0)

# -------------------------------------
# Data Type Corrections (Fixing Decimal Placement)
# -------------------------------------

def clean_numeric_column(series):
    """Cleans and converts numeric columns properly."""
    if series.dtype == "object":
        series = series.astype(str)  # Ensure string type
        series = series.str.replace("[^0-9.,]", "", regex=True)  # Remove non-numeric chars
        series = series.str.replace(",", ".", regex=False)  # Convert commas to dots

        def fix_misplaced_decimals(value):
            if not value or value in ["..", ".", ""]:  # Handle empty or invalid values
                return 0
            matches = re.findall(r"\d+", value)  # Extract numeric parts
            if len(matches) > 1:  # If multiple number groups exist
                return float("".join(matches[:-1]) + "." + matches[-1])  # Merge digits, keeping last as decimal
            return float(value)  # Convert to float
        
        series = series.apply(fix_misplaced_decimals)
    
    return series

# Apply conversion to numeric columns
for col in NUMERIC_COLUMNS_SUPPLIER_1:
    if col in df1.columns:
        df1[col] = clean_numeric_column(df1[col])

# -------------------------------------
# Removing Duplicates
# -------------------------------------
df1.drop_duplicates(inplace=True)


# -------------------------------------
# Outlier Detection (No Action Yet)
# -------------------------------------
# Flag extreme values for review
outlier_cols = ["thickness_mm", "weight_kg"]
outliers = df1[(df1[outlier_cols] > df1[outlier_cols].quantile(0.99)).any(axis=1)]

print(f"{len(outliers)} outliers detected. Consider reviewing before removal.")

# Save cleaned dataset
df1.to_csv("cleaned_supplier_1.csv", index=False)

# Display final cleaned data sample
print("Cleaning completed for Supplier 1 dataset!")
display(df1.head())
df1.to_csv("df1.csv")

2 outliers detected. Consider reviewing before removal.
Cleaning completed for Supplier 1 dataset!

,grade,finish,thickness_mm,width_mm,length_mm,weight_kg,cluster,si_content,mn_content,p_content,...,mo_content,v_content,cu_content,nb_content,ti_content,al_content,b_content,yield_strength,tensile_strength,elongation
0,G2UB5,SZBS800,320,856.0,787.0,16.490,WB-G,0.000,0.000,0.000,...,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,G2UJ5,SZBS800,339,918.0,707.0,17.160,WB-G,0.000,0.000,0.000,...,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,C3318,LICRO 500,452,1839.0,300.0,18.700,WB-U,0.254,1.278,0.008,...,0.009,20.0,290.0,12.0,320.0,320.0,25.0,0.0,0.0,0.0
3,C3U15,S380MC mod. 4,532,1160.0,461.0,22.011,WB-U,0.225,1.063,0.010,...,0.006,30.0,150.0,320.0,989.0,430.0,1.0,0.0,0.0,0.0
4,G3UB5,SZBE800,451,727.2,557.0,14.020,Spaltband,0.000,0.000,0.000,...,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Supplier 2

In [9]:
import pandas as pd
import numpy as np
import re
from task1_column_mapping import COLUMN_MAPPING_SUPPLIER_2, NUMERIC_COLUMNS_SUPPLIER_2

# Load Supplier 2 dataset
df2 = pd.read_excel("supplier_data_2.xlsx")

# -------------------------------------
# Standardizing Column Names
# -------------------------------------
df2.rename(columns=COLUMN_MAPPING_SUPPLIER_2, inplace=True)

# Ensure all expected columns exist
for col in COLUMN_MAPPING_SUPPLIER_2.values():
    if col not in df2.columns:
        df2[col] = pd.NA  # Assign empty values for missing columns

# Keep only expected columns
df2 = df2[list(COLUMN_MAPPING_SUPPLIER_2.values())]

# -------------------------------------
# Handling Missing Values
# -------------------------------------
# Fill missing categorical values with "Not Available"
cat_cols = ["product_type", "order_id","site", "material_name","material_number", "material_quality_norm", 
            "surface_coating", "defect_notes", "incoterm"]
df2[cat_cols] = df2[cat_cols].fillna("Unknown")

# Fill missing numeric values with 0
df2[NUMERIC_COLUMNS_SUPPLIER_2] = df2[NUMERIC_COLUMNS_SUPPLIER_2].fillna(0)

# -------------------------------------
# 3Ô∏è‚É£ Data Type Corrections (Fixing Decimal Placement)
# -------------------------------------

def clean_numeric_column(series):
    """Cleans and converts numeric columns properly."""
    if series.dtype == "object":
        series = series.astype(str)  # Ensure string type
        series = series.str.replace("[^0-9.,]", "", regex=True)  # Remove non-numeric chars
        series = series.str.replace(",", ".", regex=False)  # Convert commas to dots

        def fix_misplaced_decimals(value):
            if not value or value in ["..", ".", ""]:  # Handle empty or invalid values
                return 0
            matches = re.findall(r"\d+", value)  # Extract numeric parts
            if len(matches) > 1:  # If multiple number groups exist
                return float("".join(matches[:-1]) + "." + matches[-1])  # Merge digits, keeping last as decimal
            return float(value)  # Convert to float safely
        
        series = series.apply(fix_misplaced_decimals)
    
    return series

# Apply conversion to numeric columns
for col in NUMERIC_COLUMNS_SUPPLIER_2:
    if col in df2.columns:
        df2[col] = clean_numeric_column(df2[col])

# -------------------------------------
# Handling Datetime Columns
# -------------------------------------
date_cols = ["delivery_earliest", "delivery_latest", "valid_until"]
for col in date_cols:
    if col in df2.columns:
        df2[col] = pd.to_datetime(df2[col], errors="coerce", dayfirst=True)  # Convert to datetime
        df2[col] = df2[col].fillna(pd.NaT)
# -------------------------------------
# Removing Duplicates
# -------------------------------------
df2.drop_duplicates(inplace=True)

# -------------------------------------
# Outlier Detection (No Action Yet)
# -------------------------------------
# Flag extreme values for review
outlier_cols = ["thickness_mm", "mass_min_kg", "buy_now_eur_per_ton"]
outliers = df2[(df2[outlier_cols] > df2[outlier_cols].quantile(0.99)).any(axis=1)]

print(f"‚ö†Ô∏è {len(outliers)} outliers detected. Consider reviewing before removal.")

# Save cleaned dataset
df2.to_csv("cleaned_supplier_2.csv", index=False)

# Display final cleaned data sample
print("‚úÖ Cleaning completed for Supplier 2 dataset!")
display(df2.head())

df2.to_csv("df2.csv")

‚ö†Ô∏è 2 outliers detected. Consider reviewing before removal.
‚úÖ Cleaning completed for Supplier 2 dataset!

,product_type,order_id,site,material_name,material_number,material_quality_norm,surface_coating,defect_notes,thickness_mm,width_mm,...,height_mm,mass_min_kg,num_coils,delivery_earliest,delivery_latest,incoterm,buy_now_eur_per_ton,min_max_bid_eur_per_ton,co2_per_ton_max_kg,valid_until
0,SHEET,436765,1 company gmbh,S235JR,1.0038,DIN EN 10025,Unknown,DEKL-S235JR / D2A EID,11.859,1509,...,0.0,2091,0.0,NaT,NaT,FCA,600.0,0.0,0.0,2025-02-20 11:00:00
1,SHEET,436754,1 company gmbh,S355MC,1.0976,DIN EN 10149,Unknown,Unknown,8.057,1011,...,0.0,2411,0.0,NaT,NaT,FCA,600.0,0.0,0.0,2025-02-20 11:00:00
2,SHEET,436755,1 company gmbh,Unknown,1.0976,DIN EN 10149,Unknown,DEKL-S355MC / D2A WEH,8.057,1010,...,0.0,2251,0.0,NaT,NaT,FKA,600.0,0.0,0.0,NaT
3,SHEET,436757,1 company gmbh,S355MC,1.0976,Unknown,Unknown,DEKL-S355MC / D2A WEH,8.057,1011,...,0.0,2401,0.0,NaT,NaT,FCA,600.0,0.0,0.0,NaT
4,SHEET,436758,1 company gmbh,S355MC,1.0976,DN EN 10149,Unknown,DEKL-S355MC / D2A WEH,8.057,1010,...,0.0,2401,0.0,NaT,NaT,FCA,600.0,0.0,0.0,NaT

Merging Data

In [14]:
import pandas as pd
import numpy as np
from task1_column_mapping import COLUMN_MAPPING_SUPPLIER_1, COLUMN_MAPPING_SUPPLIER_2

# Load cleaned Supplier 1 & 2 datasets
suppier1 = pd.read_csv("cleaned_supplier_1.csv")
supplier2 = pd.read_csv("cleaned_supplier_2.csv")

# -------------------------------------
# Merge Datasets (Full Outer Join)
# -------------------------------------
df_merged = pd.concat([df1, df2], ignore_index=True)

# -------------------------------------
# Check for Duplicates
# -------------------------------------
# Check for fully duplicated rows
total_duplicates = df_merged.duplicated().sum()
print(f"‚ö†Ô∏è Total duplicate rows: {total_duplicates}")

# Display sample of merged data
display(df_merged.head())

‚ö†Ô∏è Total duplicate rows: 0

,grade,finish,thickness_mm,width_mm,length_mm,weight_kg,cluster,si_content,mn_content,p_content,...,height_mm,mass_min_kg,num_coils,delivery_earliest,delivery_latest,incoterm,buy_now_eur_per_ton,min_max_bid_eur_per_ton,co2_per_ton_max_kg,valid_until
0,G2UB5,SZBS800,320.0,856.0,787.0,16.490,WB-G,0.000,0.000,0.000,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaT
1,G2UJ5,SZBS800,339.0,918.0,707.0,17.160,WB-G,0.000,0.000,0.000,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaT
2,C3318,LICRO 500,452.0,1839.0,300.0,18.700,WB-U,0.254,1.278,0.008,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaT
3,C3U15,S380MC mod. 4,532.0,1160.0,461.0,22.011,WB-U,0.225,1.063,0.010,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaT
4,G3UB5,SZBE800,451.0,727.2,557.0,14.020,Spaltband,0.000,0.000,0.000,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaT

In [16]:
# Checking if all rows are present
len(df1)+len(df2) == len(df_merged)

True